body{
    background-color: #F0F0F0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 700px 1fr;
    line-height: 1.5em;
}
.boarder{
    border: 1px solid #006EB6;
    padding: 50px;
    margin: 50px;
}
div{
    grid-column: 2;
    margin: 0;
    width: 100%;
}
div .text{
    display: flex;
    flex-direction: column;
    align-items: left;
}
h1{
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.1em;
}
p{
    text-align: left;
}
#subtitle{
    text-align: center;
}
hr{
    width: 70%;
    margin: auto;
}
#subtitle{
    color: #006EB6;
    margin-bottom: 5px;
}
.italics{
    font-style: italic;
}
ol{
    text-align: left;
}
li{
    margin: 0;
    padding: 0 0 22px 0;
}
img{
    width: 20%;
    height: auto;
    padding: 0% 40% 0% 40%;
}